@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*variables*/
:root {
  --primary: #4c84ff;
  --greyLight: #4c84ff;
  --greyLight-2: #cbe0dd;
  --greyDark: #2d4848;
}

/*search box*/
.search-box {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  right: 40px;
  font-family: "Poppins", sans-serif;
}

.input-search {
  height: 40px;
  width: 40px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  outline: none;
  border-radius: 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  background-color: #283542;
  padding-right: 30px;
  color: #fff;
  margin-bottom: 20px;
}

.input-search::-webkit-input-placeholder {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
  position: relative;
  left: 20px;
}

.input-search:-ms-input-placeholder {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
  position: relative;
  left: 20px;
}

.input-search::-ms-input-placeholder {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
  position: relative;
  left: 20px;
}

.input-search::placeholder {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 100;
  position: relative;
  left: 20px;
}

.btn-search {
  width: 40px;
  height: 40px;
  border-style: none;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
}

.btn-search:focus ~ .input-search {
  width: 200px;
  border-radius: 0px;
  background-color: #212a39;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  border-radius: 25px;
  font-size: 16px;
  padding: 10px;
}

.input-search:focus {
  width: 200px;
  border-radius: 0px;
  background-color: #212a39;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  -webkit-transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  border-radius: 25px;
  font-size: 16px;
}

/* tables 
.table-wrapper {
    margin-top: 30px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
    width: 100%;
}
.table-wrapper td{
   text-align: center;
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 13px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #4c84ff;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #f8f8f8;
}

*/
.table-wrapper {
  width: 99%;
  margin: auto;
  margin-top: 20px;
}

table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

table td,
table th {
  text-align: center;
  padding: 8px;
}

table thead th {
  color: #ffffff;
  background: #008ed6;
}

table thead th:nth-child(odd) {
  color: #ffffff;
  background: #283542;
}

table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */
@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  .table-wrapper {
    margin-bottom: 50px;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }
  table td,
  table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: left;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table tbody tr td {
    text-align: right;
    font-weight: 600;
    font-size: 12px;
  }
  table td:before {
    content: attr(data-label);
    width: 50%;
    height: 100%;
    font-weight: 600;
    font-size: 14px;
    text-align: left;
  }
}

/*pagination*/
.table-wrapper {
  position: relative;
}

.page {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  width: 20rem;
  margin-top: 20px;
  background: #ffffff;
}

.page__numbers, .page__btn, .page__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.8rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.page__dots {
  width: 2.6rem;
  height: 2.6rem;
  color: var(--greyLight);
  cursor: initial;
}

.page__numbers {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 0.4rem;
}

.page__numbers:hover {
  color: #212a39;
}

.page__numbers.active {
  color: #ffffff;
  background: #4c84ff;
  font-weight: 600;
  border: none;
  width: 35px;
  height: 35px;
}

.page__btn {
  color: var(--greyLight);
}

.page__btn.active {
  color: var(--greyDark);
  pointer-events: initial;
}

.page__btn.active:hover {
  color: var(--primary);
}

/*vue d'ensemble*/
.vde {
  text-align: center;
  margin-top: 20px;
}

.veBtnContainer {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
  background-color: yellow;
}

/*organigramme general*/
.hog {
  color: #212a39;
}

/*ProcessusOrganisationnel*/
.po-h {
  text-align: center;
  margin: 30px 0px;
}

.nav-po {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #212a39;
  width: 95%;
  margin: auto;
  height: 8vh;
}

.po-pic {
  position: relative;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, -100px);
          transform: translate(-50%, -100px);
}

.navlinks-po.active {
  background-color: var(--primary);
  color: white;
}

.navlinks-po {
  cursor: pointer;
  margin: auto;
  padding: 14.5px 10px;
}

/*section2*/
#section2,
#section3,
#section4,
#section5,
#section6,
#section7 {
  display: none;
}

.po-table-wrapper {
  -webkit-box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  width: 95%;
  margin: auto;
}

.po-table {
  margin-top: 20px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  white-space: nowrap;
  background-color: white;
  display: block;
  width: 100%;
}

.po-table td,
.po-table th {
  text-align: center;
  padding: 13px;
}

.po-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
  height: 60px;
  width: 1000%;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.po-table thead th {
  color: #ffffff;
  background: #4c84ff;
}

.po-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.po-table tr:nth-child(even) {
  background: #f8f8f8;
}

.po-table-wrapper:before {
  display: block;
  text-align: right;
  font-size: 11px;
  color: white;
  padding: 0 0 0px;
}

.po-table thead,
.po-table tbody,
.po-table thead th {
  display: block;
}

.po-table thead th:last-child {
  border-bottom: none;
}

.po-table thead {
  float: left;
}

.po-table tbody {
  width: auto;
  position: relative;
  overflow: hidden;
}

.po-table th {
  padding: 20px 0.625em 0.625em 0.625em;
  height: 60px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  width: 300px;
  font-size: 13px;
  text-overflow: ellipsis;
}

.po-table thead th {
  text-align: left;
  border-bottom: 1px solid #f7f7f9;
}

.po-table tbody tr {
  display: table-cell;
}

.po-table tbody tr:nth-child(odd) {
  background: none;
}

.po-table tr:nth-child(even) {
  background: transparent;
}

.po-table tr td:nth-child(odd) {
  background: #f8f8f8;
  border-right: 1px solid #e6e4e4;
}

.po-table tr td:nth-child(even) {
  border-right: 1px solid #e6e4e4;
}

.po-table tbody td {
  display: block;
  text-align: left;
}

/*section*/
.table-section3 {
  width: 95%;
  margin: auto;
}

.table-section3 th {
  background-color: #324960;
  height: 9vh;
  color: white;
  text-align: left;
}

.table-section3 td {
  background-color: white;
  height: 9vh;
}

/*flp table*/
.po-table-wrapper {
  margin-top: 30px;
  -webkit-box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
  width: 95%;
}

.po-table-wrapper td {
  text-align: center;
}

.flp-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.flp-table td,
.flp-table th {
  text-align: center;
  padding: 13px;
}

.flp-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.flp-table thead th {
  color: #ffffff;
  background: #4c84ff;
}

.flp-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.flp-table tr:nth-child(even) {
  background: #f8f8f8;
}

/* Responsive */
@media (max-width: 768px) {
  .fl-table thead {
    display: none;
  }
  .fl-table,
  .fl-table tbody,
  .fl-table tr,
  .fl-table td {
    display: block;
    width: 100%;
  }
  .fl-table tr {
    margin-bottom: 15px;
  }
  .po-table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
}

/*.*/
/*# sourceMappingURL=main.css.map */